<div class="container">
  <div class="row align-items-start">
    <div class="col-md-6">
      <h1 class="my-2">Reactive form</h1>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <p>
          <label for="firstname">First Name </label>
          <input type="text" id="firstname" formControlName="firstname" />
          <span class="text-danger"
            *ngIf="submitted && firstname?.errors">
            <span *ngIf="firstname?.errors?.['required']">
              First Name is required!
            </span>
            <span *ngIf="firstname?.errors?.['minlength']">
              First Name must be 10 characters!
            </span>
            <span *ngIf="contactForm.controls.firstname.errors?.['pattern']">
              Special characters is not allowed!
            </span>
          </span>
        </p>
        <p>
          <label for="email">Email </label>
          <input type="text" id="email" formControlName="email" />
          <span class="text-danger"
            *ngIf="submitted && email?.errors">
            <span *ngIf="email?.errors?.['required']">
              Email is required!
            </span>
            <span *ngIf="email?.errors?.['email']">
              Email must be valid email!
            </span>
            <span *ngIf="email?.errors?.['usernameAlreadyExists']">
              Email is already exists!
            </span>
          </span>
        </p>
        <p><label for="gender">Geneder </label>
          Male <input type="radio" value="male" id="gender" formControlName="gender" />
          Female <input type="radio" value="female" id="gender" formControlName="gender" />
          <span class="text-danger"
            *ngIf="submitted && contactForm.controls.gender.errors">
            <span *ngIf="contactForm.controls.gender.errors?.['required']">
              Gender is required!
            </span>
          </span>
        </p>
        <p><label for="isMarried">Married </label>
          <input type="checkbox" id="isMarried" formControlName="isMarried" />
          <span class="text-danger"
            *ngIf="submitted && f.isMarried.errors">
            <span *ngIf="f.isMarried.errors?.['required']">
              Marital status is required!
            </span>
          </span>
        </p>
        <p>
          <label for="country">country </label>
          <select id="country" formControlName="country">
            <option [value]="1">India</option>
            <option [value]="2">USA</option>
          </select>
          <span class="text-danger"
            *ngIf="submitted && f.country.errors">
            <span *ngIf="f.country.errors?.['required']">
              Country is required!
            </span>
          </span>
        </p>
        <p>
          <label for="firstname">Password </label>
          <input type="text" id="password" formControlName="password" />
          <span class="text-danger"
            *ngIf="submitted && password?.errors">
            <span *ngIf="password?.errors?.['required']">
              Password is required!
            </span>
          </span>
        </p>
        <p>
          <label for="confirmPassword">Confirm Password </label>
          <input type="text" id="confirmPassword" formControlName="confirmPassword" />
          <span class="text-danger"
            *ngIf="submitted && confirmPassword?.errors">
            <span *ngIf="confirmPassword?.errors?.['required']">
              Confirm password is required!
            </span>
          </span>
          <!-- <span *ngIf="passwordMatchError" class="text-danger">
            Password does not match
          </span> -->
          <span *ngIf="contactForm.getError('mismatch') && contactForm.get('confirmPassword')?.dirty" class="text-danger">
            Password does not match
          </span>
        </p>
        <p>
          <label for="file">File </label>
          <input type="file" id="file" formControlName="file" />
          <span class="text-danger"
            *ngIf="submitted && file?.errors">
            <span *ngIf="file?.errors?.['required']">
              File is required!
            </span>
          </span>
        </p>
        <h5>Address</h5>
        <div formGroupName="address">
          <div class="form-group"><label for="city">City</label>
            <input type="text" class="form-control" name="city" formControlName="city" />
            <span class="text-danger"
              *ngIf="submitted && city?.errors">
              <span *ngIf="city?.errors?.['required']">
                City is required!
              </span>
            </span>
          </div>
          <div class="form-group"><label for="street">Street</label>
            <input type="text" class="form-control" name="street" formControlName="street" />
          </div>
          <div class="form-group"><label for="pincode">Pin Code</label>
            <input type="text" class="form-control" name="pincode" formControlName="pincode"/>
              <span class="text-danger"
                *ngIf="submitted && contactForm.controls.address.controls.pincode.errors">
                <span *ngIf="contactForm.controls.address.controls.pincode.errors?.['required']">
                  Pincode is required!
                </span>
                <span *ngIf="contactForm.controls.address.controls.pincode.errors?.['maxlength']">
                  Pincode can be max 6 characters long!
                </span>
                <span *ngIf="contactForm.controls.address.controls.pincode.errors?.['pattern']">
                  Only number allowed!
                </span>
              </span>
          </div>
        </div>
        <p><button type="submit" class="my-2">Submit</button></p>
      </form>
    </div>
  </div>
</div>

